.container-image {
  position: relative;
  /* The position: relative property will move the image in relation to 
  the parent container however it will move but KEEP the flow of the 
  document the same. It will leave it's footprint. */
  margin-bottom: 20px;
}

.nasa-image {
  height: 450px;
  width: 850px;
  /* opacity: 0; */
}

#container-image-text {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-family: 'Unbounded', cursive;
  font-size: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* How to center an element with positioning property. 
Note that parent container needs to be set to position: relative. */
}

.container-main {
   width: 850px;
   margin: auto;
}

.container-contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 324px;
  background-color: rgb(238, 238, 238);
}

.container-social-media {
  width: 270px;
  padding-left: 15px;
}

.container-office-info {
  width: 270px;
}

.container-contact-us {
  width: 270px;
  padding-right: 15px;
}

.section-title {
  color: black;
  font-weight: bold;
  font-size: large; 
}

.list {
  list-style: none;
}

.font-styling {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-weight: 300;
}

.button-send {
  background-color: rgb(88, 79, 79);
  color: white;
  border-color: rgb(88, 79, 79);
  border-style: solid;
  padding: 3px 14px;
  border-radius: 2px;
  margin-top: 9px;
}

.name-label {
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
}

.message-label {
  display: block;
  margin-bottom: 5px;
}

#message {
  display: block;
  margin-bottom: 5px;
  height: 100px;
  border: none;
}

#name {
  margin-bottom: 5px;
  border: none;
}

.input-full-width {
  width: 100%;
  resize: none;
}

.margin-spacing-siblings {
  margin: 10px;
}

.list {
  padding: 0;
}